<!doctype html>
<html lang="en" ng-app="myApp">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
		<title>Taxi Tracker</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/app.css"/>  
	</head>
	<body>
		<div class="navbar-wrapper">
			<div class="container">
				<div class="navbar navbar-inverse navbar-static-top">
					<div class="navbar-header">
						<a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
						<a class="navbar-brand" href="javascript:">Taxi Tracker</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li ng-class="{active: activetab == '/home'}"><a href="#home">Home</a></li>
							<li ng-class="{active: activetab == '/about'}"><a href="#about">About</a></li>
							<li ng-class="{active: activetab == '/contact'}"><a href="#contact">Contact</a></li>
<!-- 							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									Dropdown <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li class="divider"></li>
									<li><a href="#">Separated link</a></li>
									<li><a href="#">One more separated link</a></li>
								</ul>
							</li> -->
						</ul>
					</div>
				</div>
			</div><!-- /container -->
		</div><!-- /navbar wrapper -->
		<br>
		<br>
		<div ng-view></div>

		<script type="text/ng-template" id="login.html">
			<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="text-center">Login</h1>
						</div>
						<div class="modal-body">
							<form class="form col-md-12 center-block">
								<div class="form-group">
									<input type="text" class="form-control input-lg" placeholder="Email">
								</div>
								<div class="form-group">
									<input type="password" class="form-control input-lg" placeholder="Password">
								</div>
							</form>
						</div>
						<div class="model-footer">
							<div class="row" style="margin-bottom:5%">
								<div class="col-md-6 col-md-offset-3 text-center">
									<button class="btn btn-primary btn-lg">Sign In</button>
									<button class="btn btn-primary btn-lg">Register</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</script>
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular/angular-route.js"></script>
		<script src="lib/angular-ui/ui-bootstrap-custom-tpls-0.10.0.js"></script>
		<script src="js/app.js"></script>
		<script src="js/services.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/directives.js"></script>
	</body>
</html>