<div class="entry-content">
	<div>
		AllofThemes.com takes your privacy seriously. This page explains what information we collect and how we use it. If you require more information regarding our privacy policy, you can email your questions to contact@allofthemes.com. AllofThemes.com&nbsp;reserve the right to change this privacy policy at any time.
	</div>
	<h3>1. Information we collect</h3>
	<h3><strong>Site Activity Data</strong></h3>
	<p>We use Google Analytics, a third-pary tool to anonymously collect data such as referring sites, monitor settings…</p>
	<h3><strong>Cookies</strong></h3>
	<p>We might use cookies to anaymously save your preferred settings or language. You can disable cookies from your browser.</p>
	<h3>2. How we use this information</h3>
	<p>
		We use the information solely to improve the usability of our website and the services we provide. We might collect IP specific bandwidth usage to protect our site against DDOS attacks or abusive usage.
	</p>
	<div id="jp-post-flair" class="sharedaddy sd-like-enabled sd-sharing-enabled">
		<div class="sharedaddy sd-sharing-enabled">
			<div class="robots-nocontent sd-block sd-social sd-social-icon-text sd-sharing">
				<h3 class="sd-title">Share this:</h3>
				<div class="sd-content">
					<ul>
						<li class="share-twitter">
							<a rel="nofollow" class="share-twitter sd-button share-icon" href="" title="Click to share on Twitter" id="sharing-twitter-1091" sl-processed="1">
								<span>Twitter</span>
							</a>
						</li>
						<li class="share-facebook">
							<a rel="nofollow" class="share-facebook sd-button share-icon" href="" title="Share on Facebook" id="sharing-facebook-1091" sl-processed="1">
								<span>Facebook</span>
							</a>
						</li>
						<li class="share-google-plus-1">
							<a rel="nofollow" class="share-google-plus-1 sd-button share-icon" href="" title="Click to share on Google+" id="sharing-google-1091" sl-processed="1">
								<span>Google</span>
							</a>
						</li>
						<li class="share-end"></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="">
			<h3 class="sd-title">Like this:</h3>
			<div class="likes-widget-placeholder post-likes-widget-placeholder" style="height: 55px; display: none;">
				<span class="button">
					<span>Like</span>
				</span> 
				<span class="loading">
					Loading...
				</span>
			</div>
			<span class="sd-text-color"></span>
			<a class="sd-link-color"></a>
		</div>
	</div>
</div>